.mainbody{
    background-color: black;
}

.cur{
    font-family: 'Satisfy', cursive;
}

.bigtext{
    font-weight: 200;
    font-size: 40mm;
}

#filterText{
    color: white;
    font-size: 9mm;
}

#ff{
    background-color: white;
    color: black;
}